@import "../App.css";

.meetVideoContainer {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: var(--active-speaker);
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  padding: 15px;
}

.meetUserVideo {
  position: absolute;
  bottom: 8rem;
  left: 2rem;
  height: 6rem;
  width: 6rem;
  border-radius: 1rem;
  /* border: 2px solid var(--border-color); */
}

.buttonContainer {
  grid-column: 1/13;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.buttonContainer svg {
  font-size: 2.5rem;
  color: var(--background-color);
}

.conferenceView {
  grid-column: 1/13;
  grid-row: 1/12;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  padding: 10px;
}

.conferenceUsers {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: black;
  overflow: hidden;
  object-fit: contain;
  display: block;
  border: 2px solid var(--border-color);
}

.conferenceUsers video {
  width: 100%;
  height: 100%;
  object-fit:contain;
  display: block;
  border-radius: 20px;
}

.lobbyContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-block: 4rem;
  padding-inline: 2rem;
  gap: 15px;
  background-color: var(--light-primary);
}
.lobbyForm {
  background-color: var(--background-color);
  border-radius: 20px;
  padding-inline: 1rem;
  padding-block: 3rem;
  border: 1px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.formMainContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.logoImage {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoImage img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.logoImage h1 {
  font-size: 20px;
  font-weight: 900;
}

.lobbyForm .formContent .formTextField {
  background-color: var(--light-primary);
  border-bottom: 1px solid var(--active-speaker);
  width: 100%;
  color: var(--text-primary);
  font-size: 16px;
  font-weight: 400;
}

.lobbyForm .lobbyFormButton {
  padding-block: 0.8rem;
  font-size: 16px;
  font-weight: 700;
  background: linear-gradient(var(--active-speaker), var(--primary-hover));
}

.lobbyStream {
  position: relative;
  border-radius: 20px;
  padding: 5px;
  border: 1px solid var(--primary-color);
  box-shadow: 0px 0px 20px #4a1cbe77;
  background: linear-gradient(to right, #4f84f6, #5d58e0);
}
.lobbyStream video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 20px;
}

.chatRoom {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: var(--background-color);
  border-radius: 20px;
  padding: 15px;
  height: 79vh;
  width: 90%;
  max-width: 350px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1.5px solid var(--border-color);
}

.chatBox {
  flex: 1;
  background-color: var(--background-color);
  width: 100%;
  border-radius: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  padding: 15px;
  position: relative;
}

.chatBox::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

.chatInput {
  width: 100%;
  padding-block: 10px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.chatInput input {
  flex: 1;
  padding-inline: 20px;
  padding-block: 10px;
  border-radius: 10px;
}
.chatInput input:focus {
  outline: none;
}

@media (max-width: 450px) {
  .meetUserVideo {
    bottom: 7rem;
    left: 2.2rem;
  }
}
@media (max-width: 991px) {
  .lobbyContainer {
    display: flex;
  }
  .lobbyForm {
    flex: 1;
  }
  .lobbyStream {
    flex: 1;
  }
}
@media (max-width: 710px) {
  .lobbyStream {
    display: none;
  }
}
@media (max-width: 500px) {
  .lobbyContainer {
    padding: 10px;
  }
}

@media(max-width:330px){
  .chatInput input{
    width: 100%;
  }
}

@media(max-width:250px){
  .conferenceView{
    padding: 0px;
  }
  .meetVideoContainer{
    padding: 5px;
  }
}

@media (max-width: 500px) {
  .chatRoom {
    position: fixed;
    bottom: 0;
    right: 0;
    top: auto;

    width: 100%;
    height: 80vh;
    border-radius: 20px 20px 0 0;
  }
  .meetUserVideo {
    bottom: 6rem;
    left: 1rem;
    height: 4rem;
    width: 4rem;
  }

  .buttonContainer svg{
    font-size: 1.5rem;
  }
}