@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

body {
  font-family: "DM Sans", sans-serif;
}

:root {
  --primary-color: #6366f1;
  --primary-hover: #4f46e5;
  --light-primary: #eef2ff;
  --background-color: #ffffff;
  --surface-color: #f8fafc;
  --text-primary: #1e293b;
  --text-secondary: #64748b;
  --border-color: #e2e8f0;
  --error-color: #ef4444;
  --success-color: #10b981;
  --active-speaker: #818cf8;
}

.landingPageContainer2 {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

.landingPageContainer2 nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0rem;
  padding-inline: 3rem;
}

.landingPageContainer2 nav h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.landingPageContainer2 nav .navHeader {
  height: 100%;
}
.landingPageContainer2 nav .navlist {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  height: 90%;
}

.landingPageContainer2 nav .navlist .login {
  background-color: var(--primary-color);
  color: var(--light-primary);
  font-weight: 600;
  padding-inline: 1.3rem;
  padding-block: 0.5rem;
  margin-block: -0.4rem;
  font-size: 1.1rem;
  border-radius: 0.8rem;
  box-shadow: 2px 2px 8px #0000003d;
  transition: all 0.3s ease-in;
  height: 90%;
}

.landingPageContainer2 nav .navlist .login:hover {
  box-shadow: 2px 2px 8px #0000005d;
  background-color: var(--primary-hover);
}

.landingPageContainer2 nav .navlist > p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  font-weight: 600;
  padding-inline: 1.3rem;
  padding-block: 0.5rem;
  margin-block: -0.4rem;
  font-size: 1.1rem;
  border-radius: 0.8rem;
  box-shadow: 2px 2px 8px #0000001d;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.landingPageContainer2 nav .navlist > p:hover {
  background-color: var(--light-primary);
}

.landingPageContainer2 nav .navlist .menu {
  cursor: pointer;
  color: var(--primary-color);
}

.landingMainContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 100vh;
  align-items: center;
  gap: 10px;
}

.landingMainContainer .main-heading {
  font-size: 2.6rem;
  font-weight: 800;
}
.landingMainContainer .main-heading .logoname {
  color: var(--primary-color);
}
.landingMainContainer > div:nth-child(1) .sub-heading {
  font-size: 2.2rem;
}

.landingMainContainer > div:nth-child(1) div[role="button"] {
  width: fit-content;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  border-radius: 10px;
  margin-top: 1.9rem;
  transition: all 0.3s ease-in;
}

.landingMainContainer > div:nth-child(1) div[role="button"] a {
  text-decoration: none;
  color: var(--light-primary);
  font-size: 1.4rem;
}

.landingMainContainer > div:nth-child(2) {
  height: 70vh;
  width: auto;
}

.landingMainContainer .mainImage img {
  height: 75vh;
}

.landingMainContainer > div:nth-child(1) div[role="button"]:hover {
  background-color: var(--primary-hover);
  box-shadow: 2px 2px 20px #0000003d;
}

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: var(--success-color);
  border-radius: 5px;
  color: #fff;
  padding: 2px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marquee p {
  display: inline-block;
  font-size: 12px;
  padding-left: 100%;
  animation: scrollText 10s linear infinite;
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@media (max-width: 500px) {
  .landingPageContainer2 nav {
    padding-inline: 1rem;
  }
}
@media (max-width: 800px) {
  .landingPageContainer2 nav .navlist .nav-tab {
    display: none;
  }
  .landingPageContainer2 nav .navlist .user {
    display: none;
  }
}
@media (min-width: 800px) {
  .landingPageContainer2 nav .navlist .menu {
    display: none;
  }
}
@media (max-width: 950px) {
  .landingMainContainer {
    padding-top: 2rem;
  }
}
@media (max-width: 500px) {
  .landingMainContainer {
    padding-inline: 10px;
    padding-block: 20px;
  }
  .landingMainContainer h1 {
    font-size: 30px !important;
  }
}

@media (max-width: 940px) {
  .landingMainContainer {
    flex-direction: column;
    overflow-y: auto;
  }
}
